@import "tailwindcss";

.demo-item {
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.18);
}
.demo-footer {
    transition: background-color 0.35s ease;
}
.demo-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.18);
}

.demo-item:hover .demo-footer {
    background-color: #007bff;
}

.demo-item:hover .demo-footer h1 {
    color: #fff;
}

#demo,
#features,
#support {
    scroll-margin-top: 125px;
}

html {
    scroll-behavior: smooth;
}
